/* HOW IT WORKS CSS  */ 


.how_it_works{

    .fa{
        font-size: 300px;
        }
    .fa-tachometer{
        color:#63CE0A;
        }
     .fa-briefcase{
        color:#BEE7F2;
        }
     .fa-magic{
        color:#EE6806;
        }
    .fa-hand-o-right{
        color:#00A1EF;
        }
}


/* END HOW IT WORKS */

.air {
  color:#BEE7F2
}
.land{
  color:#63CE0A
}
.water{
  color:#00A1EF
}
.waste{
  color:#a1a1a1
}
.energy{
  color:#FAEE40
}




//=======
// CITY PROFILE SECTION


#affix_menu {
  color:#a1a1a1;
  width:100%;
  font-size: 20px;
  font-family: Raleway;
  
  &.affix {
    margin: 0px;
    padding: 10px 25px;
    top:260px;
    // background-color:#a1a1a1;
    // box-shadow: 0px 0px 3px #a1a1a1;
  }

  &.affix-top{
      margin: 0px;
      width: 100%;
      padding: 10px 25px
  }
}



// #airair
// {
// margin-bottom:4px;
// background-color:#E3CEF6;
// font-size:1.5em;
// color: #4B8A08;
// font-weight:bold;
// //text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
// font-family:sans-serif;
// font-synthesis:weight;
// text-align:center;
// }


.subindices {

  &:not(first){
    // box-shadow: 0px 0px 10px #000;
    border-top: 1px #2e2e2e solid;
  }

  .main{
    padding:40px 40px;
  }

  // padding: 30px 40px 50px 40px ;

  h2 {
        color:white;
        font-family:"Raleway", sans-serif;
        font-weight:200;
        text-shadow:1px 1px 2px #2e2e2e;

      }

  &#air {   
  
      background-color:#BEE7F2;

    }

  &#water{
    
      background-color:#00A1EF;
  }

  &#land{

    background-color:#63CE0A;

  }

  &#waste{

    background-color:#a1a1a1;

  }

  &#construction{

  }

  &#energy{
    background-color:#FAEE40;
  }

  .indicators{

      // border-top: 1px #2e2e2e solid;
      margin-top:20px;
      text-align:center;
      font-size:12px;

      h4{
        font-size: 14px;
        color: #333333;
      }

      div.row.descriptions div{
        
        // border-left: 1px #a1a1a1 solid;
      }
      div.row.descriptions {
        // background-color:white;
      }

      div.row.descriptions div{
        height: 100%;
        // background-color:white;
        color:#333333;
        transition: background-color 1.0s ease;
        padding:4px;

      }
      
      div.row div{
        transition: background-color 1.0s ease;
      }

      div.row div:hover{
        background-color:rgb(255,255,255);
        // -webkit-transition: background-color 1000ms linear;
        // -moz-transition: background-color 1000ms linear;
        // -o-transition: background-color 1000ms linear;
        // -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms ease;
      }

  }
}

// HOME PAGE SECTION

.title {
  
  text-rendering: optimizeLegibility;

  h1 {
    font-size: 5rem;
    font-family:"Raleway", sans-serif;
    font-weight:200;
    color: white;
    text-shadow: 1px 1px 3px #2e2e2e;
  } 
}

#home-icons {
  color:white;
  font-size:40px;
  text-shadow:1px 1px 1px #A1A1A1;

  div {
    text-align:center;
  }
}

.profile-sidebar{
    padding: 0px;
    
    .profile-sidebar-slider{
        width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        background: #eef;
    }
}




.background-video {
	/*position: absolute;*/
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	padding: 0;
}

.background-video video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  min-height: 100%;
  min-width: 100%;
  -webkit-transition: opacity 1s 0.3s;
  -webkit-transition-delay: linear;
  -moz-transition: opacity 1s 0.3s linear;
  -o-transition: opacity 1s 0.3s linear;
  transition: opacity 1s 0.3s linear;
}
.background-video video.show {
  z-index: 2;
  opacity: 1;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}


// @media (max-width: 599px) {
//   .background-video video {
//     display: none;
//   }
// }

/*.static-container {
	position: relative;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	overflow-x: hidden;
}*/

// HOMEPAGE - END

//LOGIN - SIGNUP PAGE
.login-wrapper{
  margin-top: 100px;
}

.signup-wrapper{
  margin-top: 100px;
  display: none;

  form{
    margin-top: 10px;
  }

  input{
    right: 0px;
  }
  .span5{
    font-size: 2.5rem;
    font-family:"Raleway", sans-serif;
    font-weight:200;
    color: #333;
    text-shadow: 1px 1px 3px #2e2e2e;
  }
  .span4{
    margin: 10px 0px 10px 0px;
    font-size: 1.8rem;
    font-family:"Raleway", sans-serif;
    font-weight: 300;
    color: #333;
    text-shadow: 1px 1px 1px #2e2e2e;
  }

  .signup-error{
    display: none;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;

    span{
      font-size: 2rem;
      font-family:"Raleway", sans-serif;
      font-weight: 400;
      color: #F00;
      text-shadow: 1px 1px 3px #FF6666;
    }
  }
}

.beauties{
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 0px;
  background: url(/images/grass.png);
  background-size: auto 100%;
  background-repeat: repeat-x;
  z-index: 100;
}
// City List Page

div.city-list{
  .row{
    margin-top: 30px;
  }

  ul{
    list-style-type: none;

    li{
      padding-left: 25px;
      width: 80%;
    }

    .list-title{
      padding-left: 15px;
      margin-bottom: 5px;
      box-shadow: 0px 3px 2px -1px #EEE;
      font-size: 1.8rem;
      font-family:"Raleway", sans-serif;
      font-weight: 200;
      color: #222;
      text-shadow: 1px 1px 3px #EEE;
    }
  }
}

